/* ==========================
	default CSS 
============================= */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.7;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 10px;
    font-weight: 300;
}
p {margin: 0 0 15px;}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
a, a:hover, a:active, a:focus {
	text-decoration: none;
	outline: 0 none;
}
a {
	color: #333333;
	transition: all linear .3s;
}
img {
	display: inline-block;
	max-width: 100%;
}


.owl-dots {
	text-align: center;
	position: relative;
	top: -50px;
}
.owl-dots .owl-dot {
	display: inline-block;
	margin: 0 5px;
}
.owl-dots .owl-dot span {
	border: 1px solid #e6ad21;
	border-radius: 50%;
	display: block;
	height: 15px;
	width: 15px;
}
.owl-dots .owl-dot.active span {
	border: 1px solid #e6ad21;
	background-color: #e6ad21;
}

/* ==========================
	Section CSS 
============================= */

.mainmenu ul {
    text-align: right;
}
.mainmenu li {
    display: inline-block;
    position: relative;
}
.mainmenu li a {
    color: #fff;
    display: block;
    font-size: 16px;
    text-transform: capitalize;
    padding: 30px 0 30px 25px;
}
.mainmenu li.current::before {
    background-color: #b38b1a;
    border: 2px solid #fff;
    border-radius: 50%;
    content: "";
    height: 12px;
    left: 2px;
    margin-top: -6px;
    position: absolute;
    top: 50%;
    width: 12px;
}
.mainmenu li.current a,
.mainmenu li:hover a {
    color: #f4bb4e;
}
.logo a {
    display: block;
    padding: 22px 0;
}
.logo img {
    max-height: 50px;
}
.single-slide-item {
    background-color: #263238;
    color: #fff;
    font-size: 16px;
    line-height: 28px;
}
.single-slide-item h2 {
    color: #e6ad21;
    font-size: 40px;
    line-height: 56px;
}
.slide-content p {
    margin: 25px 0 45px;
}
.slider-img {
    bottom: 0;
    max-height: 530px;
    position: absolute;
    right: 15px;
    width: auto !important;
}
.slide-content {
    padding: 225px 0 150px;
}
.single-slide-item .row {
    position: relative;
}
.header-area {
    font-weight: 400;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
}
.bordered-btn {
    border: 1px solid #fff;
    border-radius: 5px;
    color: #e6ad21;
    font-weight: 400;
    padding: 10px 30px;
}
.bordered-btn i {
    padding-left: 6px;
}
.bordered-btn:hover {
    color: #fff;
}


.homepage-slides .owl-nav div {
	background-color: rgba(0, 0, 0, 0);
	border-radius: 50%;
	color: #e6ad21;
	display: inline-block;
	font-size: 70px;
	padding: 15px;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -50px;
	transition: .3s;
	opacity: 0;
	visibility: hidden;
}
.homepage-slides .owl-nav div.owl-next {
	left: auto;
	right: 0;
}
.homepage-slides:hover .owl-nav div.owl-prev {
	opacity: 1;
	visibility: visible;
	left: 2%;
}
.homepage-slides:hover .owl-nav div.owl-next {
	opacity: 1;
	visibility: visible;
	left: auto;
	right: 2%;
}