/* ==========================
	default CSS 
============================= */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
html, body {
	margin: 0;
	padding: 0;
	outline: 0;
	height: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #555;
    font-size: 15px;
    line-height: 1.8;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 15px;
    font-weight: 500;
}
p {margin: 0 0 15px;}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
a, a:hover, a:active, a:focus {
	text-decoration: none;
	outline: 0 none;
    color: #333333;
}
a {
    display: inline-block;
	transition: all linear .3s;
}

/* ==========================
	Section CSS 
============================= */
.box-margin {
  margin-bottom: 200px;
}
.single-box-item {
  background-color: #222931;
  color: #fff;
  font-size: 13px;
  line-height: 1.7;
  padding: 80px 0;
  position: relative;
  z-index: 1;
}
.single-content-bg {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
}
.single-content-bg::after {
  background-color: #333;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
}
.arrow1 {
  border-bottom: 13px solid transparent;
  border-left: 24px solid #333;
  border-top: 13px solid transparent;
  height: 0;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 170px;
  width: 0;
}
.text-content {
  padding-left: 50px;
  padding-right: 80px;
  position: relative;
}
.text-content::before {
  background: #ddd;
  border-left: 2px solid #ddd;
  content: "";
  height: 100px;
  left: 0;
  position: absolute;
  top: 20px;
  width: 1px;
}
.text-content h2 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
}
a.read-more {
  border: 1px solid #fff;
  color: #fff;
  font-weight: 700;
  display: inline-block;
  margin-top: 12px;
  padding: 5px 10px;
}

.absolute-bg-left .single-content-bg {
  left: 0;
  right: auto;
}
.arrow2 {
  border-bottom: 13px solid transparent;
  border-left: 24px solid #333;
  border-top: 13px solid transparent;
  content: "";
  height: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 170px;
  transform: rotate(180deg);
  width: 0;
}
.absolute-bg-left .text-content {
  margin-left: 50px;
}