/* ==========================
	default CSS 
============================= */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
html, body {
	margin: 0;
	padding: 0;
	outline: 0;
	height: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #555;
    font-size: 15px;
    line-height: 1.8;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 15px;
    font-weight: 500;
    color: #333;
}
p {margin: 0 0 15px;}
a, a:hover, a:active, a:focus {
	text-decoration: none;
	outline: 0 none;
    color: #333333;
}
a {
    display: inline-block;
	transition: all linear .3s;
}
img {
	display: inline-block;
	max-width: 100%;
}
.section-padding {padding: 80px 0;}

/* ==========================
	Section CSS 
============================= */

.bigger-text {
    font-size: 18px;
    line-height: 1.8;
    padding: 0 70px;
    text-align: center;
}
.bigger-text h1 {
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    margin-bottom: 30px;
}
a.boxed-btn {
    background-color: #454bed;
    border-radius: 50px;
    color: #fff;
    display: inline-block;
    padding: 10px 40px;
    text-transform: uppercase;
}
.bigger-text .boxed-btn {
    margin-top: 30px;
}
.shadow-gallery {
    padding-top: 45px;
    position: relative;
}
.shadow-gallery img:nth-child(2), .shadow-gallery img:nth-child(3) {
    bottom: 0;
    position: absolute;
    right: 0;
}
.shadow-gallery img:nth-child(3) {
    bottom: -60px;
    left: -50px;
    right: auto;
    width: 70%;
    z-index: 3;
}
.shadow-gallery img {
    box-shadow: 0 0 50px #bbb;
    position: relative;
    width: 55%;
}
.shadow-gallery img:nth-child(1) {
    top: -50px;
}
.shadow-gallery img:nth-child(2) {
    z-index: 2;
}
