/* ==========================
	default CSS 
============================= */
html, body {
	margin: 0;
	padding: 0;
}
body {
    color: #999;
    font-family: tahoma;
    font-size: 15px;
    line-height: 2;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 15px;
    font-weight: 500;
    color: #333;
}
p {margin: 0 0 15px;}
ul,ol {
	margin: 0;
	padding: 0;
	list-style: none;
}
a, a:hover, a:active, a:focus {
	text-decoration: none;
	outline: 0 none;
    color: #333333;
}
a {
    display: inline-block;
	transition: all linear .3s;
}
img {
	display: inline-block;
	max-width: 100%;
}
.section-padding {padding: 80px 0;}


/* -------------------------------- 
Main Components 
-------------------------------- */
.cd-horizontal-timeline {
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.cd-horizontal-timeline::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}
.cd-horizontal-timeline {
  margin: 0 auto;
  opacity: 0;
  transition: opacity 0.2s ease 0s;
}
.cd-horizontal-timeline.loaded {
  /* show the timeline after events position has been set (using JavaScript) */
  opacity: 1;
  margin: auto;
}
.cd-horizontal-timeline .timeline {
    height: 110px;
    margin: 0 auto;
    position: relative;
    width: 92%;
}
.cd-horizontal-timeline .events-wrapper {
    height: 100%;
    margin: 0 40px;
    overflow: hidden;
    position: relative;
}
.cd-horizontal-timeline .events {
  /* this is the grey line/timeline */
  position: absolute;
  z-index: 1;
  left: 0;
  margin: 0 25px;
  top: 49px;
  height: 5px;
  /* width will be set using JavaScript */
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}
.cd-horizontal-timeline .filling-line {
  /* this is used to create the green line filling the timeline */
   background-color: #4daefe;
   height: 100%;
   left: 22px;
   position: absolute;
   top: 0;
   transform: scaleX(0);
   transform-origin: left center 0;
   transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
   width: 100%;
   z-index: 1;
}
.cd-horizontal-timeline .events a {
  position: absolute;
  bottom: 0;
  z-index: 2;
  text-align: center;
  font-size: 1.7rem;
  padding-bottom: 25px;
  color: #383838;
  /* fix bug on Safari - text flickering while timeline translates */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.cd-horizontal-timeline .events a::after {
  /* this is used to create the event spot */
  content: '';
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -5px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: 2px solid #eee;
  background-color: #eee;
  -webkit-transition: background-color 0.3s, border-color 0.3s;
  -moz-transition: background-color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, border-color 0.3s;
}
.no-touch .cd-horizontal-timeline .events a:hover::after {
  background-color: #4DAEFE;
  border-color: #4DAEFE;
}
.cd-horizontal-timeline .events a.selected {
  pointer-events: none;
}
.cd-horizontal-timeline .events a.selected::after {
  background-color: #4DAEFE;
  border-color: #4DAEFE;
}
.cd-horizontal-timeline .events a.older-event::after {
  background-color: #4DAEFE;
  border-color: #4DAEFE;
}

.cd-timeline-navigation a {
  /* these are the left/right arrows to navigate the timeline */
    color: #373737;
    display: inline-block;
    font-size: 30px;
    height: 50px;
    line-height: 50px;
    margin-top: 25px;
    position: absolute;
    text-align: center;
    top: 50%;
    transition: color 0.3s ease 0s;
    width: 50px;
    z-index: 999;
}
.cd-timeline-navigation a.prev {
    left: -30px;
}
.cd-timeline-navigation a.next { 
    right: -30px;
}
.cd-timeline-navigation a:hover {
    color: #4DAEFE;
}
.cd-horizontal-timeline .events a::after {
    background-color: #eeeeee;
    border-radius: 50%;
    bottom: -5px;
    content: "";
    height: 15px;
    width: 15px;
    left: 25px;
    position: absolute;
    right: auto;
    transform: translateX(-50%);
    transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s;
}
.cd-horizontal-timeline .events a.older-event::after {
    background: #4daefe none repeat scroll 0 0;
    border-color: #4daefe;
}

.cd-horizontal-timeline .events-content {
  position: relative;
  width: 100%;
  margin: 2em 0;
  overflow: hidden;
  -webkit-transition: height 0.4s;
  -moz-transition: height 0.4s;
  transition: height 0.4s;
}
.cd-horizontal-timeline .events-content li {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  padding: 0 5%;
  opacity: 0;
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
.cd-horizontal-timeline .events-content li.selected {
  /* visible event content */
  position: relative;
  z-index: 2;
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.cd-horizontal-timeline .events-content li.enter-right, .cd-horizontal-timeline .events-content li.leave-right {
  -webkit-animation-name: cd-enter-right;
  -moz-animation-name: cd-enter-right;
  animation-name: cd-enter-right;
}
.cd-horizontal-timeline .events-content li.enter-left, .cd-horizontal-timeline .events-content li.leave-left {
  -webkit-animation-name: cd-enter-left;
  -moz-animation-name: cd-enter-left;
  animation-name: cd-enter-left;
}
.cd-horizontal-timeline .events-content li.leave-right, .cd-horizontal-timeline .events-content li.leave-left {
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  animation-direction: reverse;
}
.cd-horizontal-timeline .events-content li > * {
  margin: 0 auto;
}

@-webkit-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -moz-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@-webkit-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}



.events-bg {
    background-color: #eeeeee;
    height: 5px;
    left: 32px;
    position: absolute;
    top: 0;
}
.event-detail-info {
    padding-left: 40px;
    padding-top: 40px;
}
.event-detail-info h2 {
    color: #4d4d4d;
    font-size: 24px;
    margin-bottom: 30px;
}
.event-detail-info h4 {
    color: #999;
}
img.event-img {
    max-height: 300px;
}
